/* line 1, transcriber_app/static/main/style.scss */
* {
  margin: 0;
  padding: 0;
  border: 0 solid transparent; }

/* line 7, transcriber_app/static/main/style.scss */
body {
  font-family: "Arial", sans-serif; }

/* line 11, transcriber_app/static/main/style.scss */
.header-text {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px; }
  /* line 17, transcriber_app/static/main/style.scss */
  .header-text a {
    color: #fff;
    text-decoration: none; }

/* line 23, transcriber_app/static/main/style.scss */
table {
  border-collapse: collapse;
  margin: 1.5rem 0;
  margin-left: auto;
  margin-right: auto; }
  /* line 29, transcriber_app/static/main/style.scss */
  table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left; }
  /* line 35, transcriber_app/static/main/style.scss */
  table th {
    background-color: #f2f2f2; }
  /* line 39, transcriber_app/static/main/style.scss */
  table tbody tr {
    transition: background-color 300ms; }
  /* line 43, transcriber_app/static/main/style.scss */
  table tbody tr:nth-child(even) {
    background-color: #f9f9f9; }
  /* line 47, transcriber_app/static/main/style.scss */
  table tbody tr:hover {
    background-color: #e5e5e5; }
  /* line 51, transcriber_app/static/main/style.scss */
  table a {
    background-color: #007bff;
    color: #f2f2f2;
    border-radius: 5px;
    padding: 0.5rem;
    text-decoration: none; }
