/* line 1, transcriber_app/static/main/style.scss */
* {
  margin: 0;
  padding: 0;
  border: 0 solid transparent; }

/* line 7, transcriber_app/static/main/style.scss */
.header-text {
  margin: 1rem; }
