/* line 1, transcriber_app/static/main/upload.scss */
* {
  margin: 0;
  padding: 0;
  border: 0 solid transparent; }

/* line 7, transcriber_app/static/main/upload.scss */
body {
  font-family: "Arial", sans-serif; }

/* line 11, transcriber_app/static/main/upload.scss */
div {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  /* line 20, transcriber_app/static/main/upload.scss */
  div a {
    color: #fff;
    text-decoration: none;
    background-color: #007bff;
    padding: 1rem;
    border-radius: 5px; }

/* line 29, transcriber_app/static/main/upload.scss */
form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }
  /* line 36, transcriber_app/static/main/upload.scss */
  form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold; }
  /* line 42, transcriber_app/static/main/upload.scss */
  form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: red; }
  /* line 50, transcriber_app/static/main/upload.scss */
  form button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px; }
  /* line 59, transcriber_app/static/main/upload.scss */
  form button:hover {
    background-color: #0056b3; }
