<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% load static %}
  {% load compress %}
  {% compress css %}
  <link type="text/x-scss" href="{% static 'main/style.scss' %}" rel="stylesheet" media="screen">
  {% endcompress %}
  <title>Transcribed List</title>
</head>

<body>
  <div class="header-text">
    <h1>TRANSCRIBED LIST</h1>
    <a href="{% url 'upload_video' %}">UPLOAD VIDEO</a>
  </div>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Download</th>
      </tr>
    </thead>
    <tbody>
      {% for video in videos %}
      <tr>
        <td>{{ video.title }}</td>
        <td>{{ video.upload_time }}</td>
        {% if video.srt_file %}
        <td>
          <a href="{% url 'download_file' file=video.srt_file.path %}" download>Download SRT</a>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>

</body>

</html>